* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --d-grey: #2E3436;
    --l-grey: #D3D7CF;
    --red: #CC0000;
    --green: #4E9A06;
    --blue: #3465A4;
    --mono-font: 'Ubuntu Mono', monospace;
    --sans-font: 'Roboto', sans-serif;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--l-grey, #D3D7CF);
    text-align: left;
    background-color: var(--d-grey, #2E3436);
    font-family: var(--sans-font, sans-serif);
}

header {
    font-family: var(--mono-font, monospace);
    font-size: 2rem;
}

header h1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

[class*="col"] {
    padding: 0 15px 0 15px;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.green {
    color: var(--green, #4E9A06);
}

.blue {
    color: var(--blue, #3465A4);
}

.title {
    font-family: var(--mono-font, monospace);
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.center-text {
    text-align: center;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    font-size: 2rem;
    margin: 0 0 .5rem 0;
}

.blog-post-meta {
    font-size: 1.25rem;
    font-style: italic;
    margin: 0 0 1.25rem 0;
}
